button {
    margin: auto;
    border: none;
    color: aliceblue;
    background-color: #2964e4;
    text-align: center;
    margin-bottom: 10px
}


ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color:  var(--mycolorvar); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size:30px;
}
li{
    vertical-align: middle;
}

  
